.dataFieldContainer {
  width: 250px;
  margin: 5px;

  .dataField {
    width: 100%;
  }

  .dataFieldTitleContainer {
    padding: 2px 0px;
    color: black;

    .dataFieldTitle {
      font-size: 14px;
    }

    .required::after {
      content: '*';
      color: #f82807;
    }
  }

  .dataFieldInputContainer {
    height: 34px;
    padding: 0px;
    width: 100%;
    .textArea,
    .formInput {
      width: 90%;
      border: none;
      background: #ebebeb;
      border-radius: 6px;
      padding: 0 4%;
      height: 90%;
      font-size: 14px;
      display: flex;
      align-items: center;
      color: black;
    }

    .Select {
      font-size: 14px;
      cursor: pointer;
      padding: 0px;
      height: 100%;
      min-height: 100%;

      .Select__control {
        border: none;
        border-radius: 6px;

        .Select__input {
          color: '';
        }

        .Select__multi-value__remove {
          svg {
            fill: #000;
          }
        }

        .Select__multi-value__remove:hover {
          svg {
            fill: #ff0000;
          }
        }

        .Select__multi-value__label {
          font-size: 14px;
        }
      }

      .Select__control:hover {
        cursor: pointer;
      }

      .Select__control--is-focused {
        border: 1px solid #2f52b6;
      }

      .Select__single-value {
        color: '';
        padding: 1rem 0rem;
      }

      .Select__option {
        color: '';
        background-color: '';
        cursor: pointer;
        width: 100%;
        white-space: break-spaces;
        color: black;
      }

      .Select__option--is-focused {
        background-color: #eeeeee;
      }

      .Select__option--is-selected {
        background-color: #2f52b6;
        color: white;
      }

      svg {
        pointer-events: none;
      }

      .css-12jo7m5 {
        font-size: 100%;
        padding: 0px;
      }

      .css-1alnv5e {
        color: hsl(0, 0%, 80%);

        &:hover {
          background-color: transparent;
          color: hsl(0, 0%, 60%);
        }
      }

      .Select__menu-list {
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: '';
        color: '';
      }

      .Select__indicators {
        height: 100%;
      }

      .Select__value-container {
        padding: 0px 6px;
      }
    }

    .Select__control {
      background: #ebebeb;
    }

    .react-tel-input {
      height: 100%;
      .form-control {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        border: none;
        background: #ebebeb;
        font-size: 14px;
        color: #000;
      }

      input:focus {
        border: 2px solid #2f52b6;
      }

      .open {
        border: 2px solid #2f52b6;
      }

      .flag-dropdown {
        border-radius: 10px 0px 0px 10px;
        border: none;
        background: #ebebeb;
        border-right: 1px solid #cacaca;
        font-size: 14px;

        .selected-flag {
          border-radius: 10px 0px 0px 10px;
        }
      }

      .flag-dropdown,
      .open {
        .selected-flag {
          background: #ebebeb;
          border-radius: 10px 0px 0px 10px;
        }
      }

      input:focus ~ .flag-dropdown,
      .open {
        .selected-flag {
          border: 2px solid #2f52b6;
        }
      }
    }

    .react-switch-on {
      .react-switch-bg {
        background: #2f52b6 !important;
      }
    }

    input[type='radio'] {
      accent-color: #2f52b6;
    }

    input:focus {
      outline: #2f52b6 !important;
      border: 2px solid #2f52b6;
    }

    .formTextArea {
      resize: vertical;
      width: 100%;
      /* height: 10rem;*/
      border-radius: 6px;
      background: #ebebeb;
      margin: 2px;
      color: black;
      line-height: 1.6;
      font-size: 30px;
    }

    .textArea {
      padding: 10px;
    }

    .formTextArea:focus {
      outline: none !important;
      border: none;
    }

    .react-datepicker-wrapper {
      width: 100%;
      height: 100%;
      //   border: 10x solid red;

      .react-datepicker__input-container {
        height: 100%;
      }
    }
  }

  .error {
    .formInput,
    .formTextArea {
      border: 1px solid #f82807;

      &:focus {
        border-color: #f82807;
      }
    }

    .Select__control {
      box-shadow: 0 0 0 1px #f82807;

      .Select__option--is-focused {
        border: 1px solid #f82807;
      }
    }

    .Select {
      .Select__control--is-focused {
        border: 1px solid #f82807;
      }
    }
  }

  .dataFieldError {
    grid-area: error;
    margin-top: 0.25rem;
    color: #f82807;
    border-radius: 3px;
    font-size: 12px;
    padding: 0.25rem 1rem;
    width: 100%;
    text-align: end;
    visibility: hidden;
    display: none;
  }

  .dataField {
    .gridDropdown {
      display: flex;
      width: 100%;
      height: 100%;
      //   min-height: 34px;
      //   background-color: var(--form-input);
      //   border: 1px solid var(--border);
      border-radius: 6px;
      padding: 1rem;
      font-size: 18px;
      font-weight: 400;
      padding: 0px 11px;
      cursor: pointer;
      padding-right: 4px;
      //   height: 34px;
      background: #ebebeb;

      .popover-gridDropDown {
        width: 100%;

        .popOver-btn {
          border: none;
        }
      }

      .button-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // height: 34px;

        .clear-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          color: black;

          .clear {
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          svg {
            fill: hsl(0, 0%, 80%);
            width: 30px;
          }
        }

        .arrow-down-container {
          color: hsl(0, 0%, 80%);
          width: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-left: 1px solid;
        }

        .disable-clear-conatiner {
          color: hsl(0, 0%, 50%);
        }
      }
    }

    .error {
      .gridDropdown {
        box-shadow: 0 0 0 1px #f82807;

        .select {
          color: hsl(0, 0%, 50%);
        }
      }
    }
  }
}

.customRadioInput {
  .dataFieldTitleContainer {
    visibility: hidden;
  }

  .dataFieldInputContainer {
    .formInput {
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px;

      .radio-input-container {
        color: black;
      }

      .radioLabel {
        display: flex;
        align-items: center;
        padding: 0px 5px;
        padding-bottom: 10px;
      }

      .radioInput {
        margin-right: 5px;
        width: 20px;
        height: 20px;
      }

      .selected-radio-input {
        height: 34px;
        border-radius: 6px;
        background: #ebebeb;
        display: flex;
        align-items: center;
        width: 58%;
        margin-left: 10px;
      }
    }
  }
}

.supplierRemarks {
  width: 100%;
}

#DataFieldGridDropDown {
  border-radius: 6px;

  .gridContainer {
    background-color: white;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px;

    .searchInput {
      background-color: #ebebeb;
      border-radius: 6px;
      // height: 34px;
    }

    .ag-root-wrapper.ag-ltr.ag-layout-normal {
      border: 1px solid #b9bbbd;

      .ag-header-cell-label {
        font-size: 13px;
      }
    }

    .ag-theme-alpine .ag-root-wrapper-body .ag-row-even {
      background-color: #f2f2f2 !important;
      font-size: 16px;
      border: none;
    }

    .ag-theme-alpine .ag-root-wrapper-body .ag-row-odd {
      background-color: white;
      font-size: 16px;
      border: none;
    }

    .ag-theme-alpine .ag-root-wrapper-body .ag-row:hover {
      background-color: #2f52b6;
      color: white;
    }

    .ag-theme-alpine .ag-root-wrapper-body {
      .ag-row-selected {
        background-color: #2f52b6;
        color: white;
      }

      .ag-row-selected::before {
        background: #ebebeb;
        background-color: #2f52b6;
      }
    }

    .ag-theme-alpine .ag-root-wrapper-body .ag-row-hover {
      background-color: transparent !important;
      color: black !important;
    }

    .ag-root-wrapper,
    .ag-ltr.ag-layout-normal {
      min-height: 240px;
    }
  }
}

.custom-switch {
  display: flex;
  align-items: flex-end;
  .dataField {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  .dataFieldInputContainer {
    .react-switch-off,
    .react-switch-on {
      display: flex !important;
      align-items: center;
      color: black;
    }

    .react-switch-off::after {
      content: '';
      font-size: 18px;
      margin-left: 1rem;
    }

    .react-switch-on::after {
      content: '';
      font-size: 18px;
      margin-left: 1rem;
    }
  }
}

.fixedDataField {
  .dataFieldInputContainer {
    .formInput {
      border-left: 0.8rem solid #e1a1ff;
    }

    .Select {
      .Select__control {
        border-left: 0.8rem solid #e1a1ff;
      }
    }

    .gridDropdown {
      border-left: 0.8rem solid #e1a1ff;
    }
  }
}

.suggestiveDataField {
  .dataFieldInputContainer {
    .formInput {
      border-left: 0.8rem solid #5cbbff;
    }

    .Select {
      .Select__control {
        border-left: 0.8rem solid #5cbbff;
      }
    }

    .gridDropdown {
      border-left: 0.8rem solid #5cbbff;
    }
  }
}

.react-datepicker {
  display: flex;

  .react-datepicker__month-container {
    width: 220px;
    font-size: 14px;
    // border: 1px solil;

    .react-datepicker__header {
      text-align: center;
      background-color: #f0f0f0;
      border-bottom: 1px solid #aeaeae;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      padding-top: 4px;
      position: relative;

      .react-datepicker__current-month {
        font-size: 14px;
        padding: 2px 0px;
      }

      .react-datepicker__header__dropdown {
        display: flex;
        align-items: center;
        padding: 2px 0px;

        font-size: 12px;
      }

      .react-datepicker__day-names {
        margin-top: 4px;
        margin-bottom: 0;
        font-size: 12px;

        .react-datepicker__day-name {
          margin: 0px 4px;
          width: 28px;
        }
      }
    }

    .react-datepicker__month {
      font-size: 12px;

      .react-datepicker__week {
        .react-datepicker__day {
          margin: 0px 5px;
          width: 20px;
          font-size: 14px;
        }

        .react-datepicker__day--selected {
          width: 21px;
          padding: 1px 0px;
        }
      }
    }
  }
}

.react-datepicker:has(.react-datepicker__time-container) {
  width: 310px;

  .react-datepicker__month-container {
    width: 220px;
    font-size: 14px;
  }

  .react-datepicker__time-container {
    font-size: 12px;

    .react-datepicker__header--time {
      font-size: 12px;

      .react-datepicker-time__header {
        font-size: 12px;
      }
    }
  }
}

/**
 * This is the main container for each individual data field.
 *
 * Inside this container, we have the .dataFieldInputContainer which is
 * where the actual input element is located. This container is given
 * a relative position, so that the error message can be absolutely
 * positioned on top of the input element.
 *
 * The .error class is given a margin-top of 0 so that the error message
 * does not have any extra space above it.
 */
.dataFieldContainer {
  .dataFieldInputContainer {
    position: relative;
  }

  .error {
    margin-top: 0;
  }
}

.dataField-validation-error {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background-color: #d9534f;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 700;
  margin-left: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

.dataFieldToolTipMessage {
  line-height: 18px;
  padding: 10px 15px;
}

.dataFieldToolTipMessage.type-error {
  background-color: red;

  &:after {
    border-bottom-color: red;
  }
}

.dataFieldToolTipMessage {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: black;
  z-index: 999;
}

.showBackgroundColor {
  .dataFieldInputContainer {
    .formTextArea,
    .formInput {
      background-color: #d4e0ff;
    }
  }

  .dataField {
    .gridDropdown {
      background: #d4e0ff;
    }
  }

  .dataFieldInputContainer {
    .Select__control {
      background: #d4e0ff;
    }
  }
}
