#root {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

#app {
  // background-color: #d4c3c3;
  width: 100%;
  height: 100%;
}

.sideBar {
}

.ant-layout-content {
  // background: linear-gradient(
  //   135deg,
  //   #f79554 0%,
  //   #c41e63 33%,
  //   #1a9949 66%,
  //   #595daa 100%
  // );
}
